{% extends 'layout.html' %}

{% block content %}
    <div class="well">
        <h2>Status</h2>
        <pre>{{ status }} <a href="{{ url_for('disconnect') }}">-> disconnect</a></pre>
        <h2>Servers List</h2>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Code</th>
                <th>Country</th>
                <th>Location</th>
                <th>Connect</th>
                <th>Ban/Unban</th>
            </tr>
            </thead>
            <tbody>
            {% for server in servers %}
                <tr {% if server[3] %}style="opacity: 0.2"{% endif %}>
                    <td>{{ server[0] }}</td>
                    <td>{{ server[1] }}</td>
                    <td>{{ server[2] }}</td>
                    <td><a href="{{ url_for('connect', code=server[0]) }}">connect</a></td>

                    <td><a href="{{ url_for('ban', index=loop.index0) }}">mark as {% if server[3] %}not {% endif %}
                        banned</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}